name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Notify Google Chat
        if: always()
        env:
          STATUS: ${{ job.status }}
          REPO: ${{ github.repository }}
          COMMIT: ${{ github.sha }}
          WEBHOOK: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
        run: |
          if [ "$STATUS" = "success" ]; then
            MESSAGE="✅ CI SUCCESS\nRepo: $REPO\nCommit: $COMMIT"
          else
            MESSAGE="❌ CI FAILED\nRepo: $REPO\nCommit: $COMMIT\nVérifiez les logs GitHub Actions."
          fi

          curl -X POST -H "Content-Type: application/json" \
          -d "{\"text\":\"$MESSAGE\"}" \
          $WEBHOOK
